@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.scnav{
    background-color: #304144 !important;
}
.navbar{
    background-color: #304144 !important;
    height: 100px;
}
.nav-link{
    background-color: #304144 !important;
    color: #ABF5FF;
    line-height: 80px;
}
.nav-link:hover{
    color: #10ee31;
}
.logoAnimation{
    animation: logoEnter 2s ease 0s 1 normal forwards;
}
@keyframes logoEnter {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.active{
    color: #10ee31 !important;
}

.tLeft{
    text-align: left;
}
.tCenter{
    text-align: center;
}
.t20{
    font-size: 20px;
}
.tBlue{
    color: #ABF5FF;
}
.tGreen{
    color: #10ee31;
}

.div-center{
    padding-top: 5%;
    padding-bottom: 10%;
}
.image-shrek{
    width: 100%;
    padding-top: 40px;
}
.list-shrek{
    color: #ABF5FF;
    text-align: start;
    font-size: large;
}
.list-shrek li{
    list-style-type: none;
}
.list-image{
    height: 40px;
}
.table-shrek{
    margin: auto;
    text-align: center;
    font-size: x-large;
    color: #ABF5FF;
    width: 80%;
    border-collapse: collapse;
}
.table-shrek td{
    width: 25%;
    height: 100px;
    border: 1px solid #00FF19;
    border-style: dashed;
}
.noborder{
    border-width: 0px !important;
}
.tick{
    height: 60%;
}

.subButton{
    background-color: #00FF19;
    border-radius: 10px;
    border-width: 0px;
    color: black;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}
.subButton:hover{
    background-color: #ABF5FF;
}

.formText{
    color: #ABF5FF;
    font-size: 25px;
}
.formTextSmall{
    color: #ABF5FF;
    font-size: 15px;
}

footer div{
    width: 100%;
    cursor: url("./képek/alapcursor.png"), auto !important;

}
footer div{
    background-color: #304144 !important;
    color: white;
    cursor: url("./képek/alapcursor.png"), auto  !important;

}
footer div a{
    color: white;
    cursor: url("./képek/alapcursor.png"), auto !important;

}

footer div a:hover{
    cursor: url("./képek/output-onlinepngtools.png"), auto !important;

}

footer div:hover{
    cursor: url("./képek/output-onlinepngtools.png"), auto !important;

}

footer {
    cursor: url("./képek/alapcursor.png"), auto !important;
}



html, body {
    width: 100%;
    height:100%;
    cursor: url("./képek/alapcursor.png"), auto !important;

  }
  
  body {
      background: linear-gradient(-45deg, #002e36, #002c2c, #003525, #012400);
      background-size: 400% 800%;
      animation: gradient 5s ease infinite;
      cursor: url("./képek/alapcursor.png"), auto !important;
      
  }

  button:hover{
    cursor: url("./képek/output-onlinepngtools.png"), auto;
}
  a:hover{
    cursor: url("./képek/output-onlinepngtools.png"), auto;
}

img:hover{
    cursor: url("./képek/alapcursor.png"), auto;
}

*{
    cursor: url("./képek/alapcursor.png"), auto;
 
}

html{
    cursor: url("./képek/alapcursor.png"), auto;

}


  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }


  .h1c{
    font-size: 25px;
    color: #10ee31;
  }
  
  .tudnikéne{
    color: #ABF5FF;
    font-size: 20px;
  }
  
  .tudnivalók{
    width:90% ;
    padding-left: 10%;
    
  }

  .lapcím{
    color: #10ee31;
    font-size: 40px;
    padding-top: 3%;
    font-weight: bold;
    text-decoration: underline;
  }

  .input-sup{
    border-radius: 20px;
    width: 40%;
    height: 30px;
  }

  .sup_bev{
    font-size: 25px;
    color: #44bec7;
   
  }
  

  .form-label{
    font-size: 35px;
    color: #ABF5FF;

  }

  
  .sup_kuld {
	background-color:#10ee31;
	border-radius:42px;
	border:2px solid #10ee319c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:11px 25px;
	text-decoration:none;
	text-shadow:0px 0px 5px #138f00;
    text-align: center;
    width:45%;
}

.cont{
    text-align: center;
}

.sup_kuld:hover {
	background-color:#00c407;
    cursor: url("./képek/output-onlinepngtools.png"), auto !important;
}
.sup_kuld:active {
	position:relative;
	top:1px;
}

::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #26373A;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 253, 13);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  .fade-in-image { animation: fadeIn 3s; }

  .fade-in-text{
    animation: fadeIn 2s;
  }

  .fade-in-cim{
    animation: fadeIn 1s;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  /* For animation transition */
  .reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

  /* For animation transition */
  .reveal_tab {
    position: relative;
    transform: translateY(1px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal_tab.active {
    transform: translateY(0);
    opacity: 1;
}

