.scnav{
    background-color: #304144 !important;
}
.navbar{
    background-color: #304144 !important;
    height: 100px;
}
.nav-link{
    background-color: #304144 !important;
    color: #ABF5FF;
    line-height: 80px;
}
.nav-link:hover{
    color: #00FF19;
}
.active{
    color: #00FF19;
}
body{
    background-color: #26373A;
}


.tLeft{
    text-align: left;
}
.t20{
    font-size: 20px;
}
.tBlue{
    color: #ABF5FF;
}
.tGreen{
    color: #00FF19;
}


footer div{
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer div{
    background-color: #304144 !important;
    color: white;
}
footer div a{
    color: white;
}
